* {
    box-sizing: border-box;
    margin: 0;
}
.logo {
    width: 100px;
}

main {
    font-family: "PT Sans", sans-serif;
}

header {
    grid-row: 1/2;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9870fc;
}

.super-container {
    /* height: 100vh; */
    display: flex;

    justify-content: center;
    align-items: center;
}

.welcome-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.right-box {
    display: flex;
    flex-direction: column;
    background-color: #9870fc;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.brand-title {
    margin: 15px 0;
}

.reg-field {
    min-width: 300px;
    width: 20%;
    color: white;
    font-size: 1em;
    padding: 7px 11px;
    margin: 5px 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
}

.reg-field:focus {
    outline: none;
}

.reg-field:-webkit-autofill,
.reg-field:-webkit-autofill:hover,
.reg-field:-webkit-autofill:focus,
.reg-field:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #9870fc inset;
}

.reg-field:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

::-webkit-input-placeholder {
    color: #fdcfdf;
}
.btn {
    margin: 10px 0;
    color: #9870fc;
    height: 30px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid #9870fc;
    background-color: white;
    cursor: pointer;
    min-width: 100px;
}

.uploader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9870fc54;
    width: 100%;
}

.reset-title,
.reg-title,
.signup-title,
.login-title {
    color: white;
}

.btn:focus {
    outline: none;
}

.reg-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reg-text {
    width: 60%;
    text-align: center;
}

.link-log {
    text-decoration: none;
    color: white;
    margin: 5px 0;
}
.profile-pic {
    object-fit: cover;
    border-radius: 50%;
    height: 235px;
    width: 235px;
    padding: 10px;
    margin: 10px;
}

.profile-pic.small {
    height: 80px;
    width: 80px;
    cursor: pointer;
    padding: 5px;
}

.logo-title {
    display: flex;
    align-items: center;
}

.logo-header {
    cursor: pointer;
    width: 80px;
    padding: 10px;
    margin: 0 5px;
}

.profile-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100vh - 80px);
}

.profile-btn-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 80px;
}

.btn-purple {
    margin: 10px 0;
    color: white;
    padding: 6px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid #9870fc;
    background-color: #9870fc;
    cursor: pointer;
    min-width: 100px;
}

.btn-purple:hover {
    background-color: transparent;
    border: 1px solid #9870fc;
    color: #9870fc;
}
.btn:hover {
    background-color: #9870fc;
    border: 1px solid white;
    color: white;
}
.btn-purple:focus {
    outline: none;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 400px;
    height: 125px;
    border-radius: 5px;
    font-family: "PT Sans", sans-serif;
    /* color: #b088f9; */
}

textarea:focus {
    outline: none;
}

.brand-header {
    color: white;
}

.error-msg {
    color: #ffdcdc;
    margin: 5px 0;
    text-align: center;
}

.error-msg-dark {
    color: #b088f9;
    margin: 5px 0;
    text-align: center;
}

.bio-text {
    margin: 10px 0;
    min-width: 300px;
    width: 50%;
    text-align: center;
}

.no-user-found-box {
    /* margin: 30px 0; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.log-pic-box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.log-pic-box img {
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.log-pic-box a {
    margin: auto 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logout {
    height: 30px;
}

.profile-pic-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.camera-icon {
    width: 30px;
    /* margin-top: -29px;
    margin-bottom: 10px; */
    cursor: pointer;
}

.user-search {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.user-search a {
    align-self: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: #b088f954;
    /* color: black; */
    min-width: 400px;
    border-radius: 10px;
    margin: 10px;
}

.user-search a:hover {
    background-color: #9870fca3;
    box-shadow: 3px 3px 3px #94959a;
    transform: translate(-3px, -3px);
    transition: all 0.05s;
}

.user-search img {
    margin: 10px 10px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.user-search p {
    margin: 0 20px;
    color: black;
}

.user-search input::placeholder {
    color: black;
}

.user-search input {
    min-width: 300px;
    width: 20%;
    color: black;
    font-size: 1em;
    padding: 7px 11px;
    margin: 5px 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #b088f9;
}

.user-search input {
    outline: none;
}

.user-search iframe {
    margin: 20px;
}

.search-field-box {
    display: flex;
    align-self: center;
}

.search-field-box img {
    height: 40px;
    width: 40px;
}

.friends {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    min-height: 250px;
}

.wannabes,
.real-friends {
    background-color: #b088f945;
    border-radius: 15px;
    margin: 5px;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
}

.wannabes img,
.real-friends img {
    margin: 10px 10px;
    height: 150px;
    width: 150px;
    border-radius: 15px;
    object-fit: cover;
}

.real-friends:hover,
.wannabes:hover {
    cursor: pointer;
    background-color: #b088f9b0;
    box-shadow: 3px 3px 3px #94959a;
    transform: translate(-3px, -3px);
    transition: all 0.05s;
}

.friends-req-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;

    /* height: 90vh; */
    /* height: 100%; */
}
.friends-req-box h2 {
    margin: 20px;
}
.btn-yes {
    min-width: 60px;
    margin-right: 5px;
    /* background-color: #b088f93d; */
}

.btn-no {
    min-width: 60px;
    margin-left: 5px;
    background-color: #b088f93d;
}

.btn-delete {
    min-width: 50px;
    margin: 10px 5px;
    color: white;
    background-color: #af88f98a;
    border: 1px solid #af88f98a;
}

.btn-no:hover {
    background-color: #af88f98a;
    border: 1px solid #af88f98a;
    color: white;
}

.icon-menu {
    width: 30px;
    height: 30px;
}
.hamburger-menu {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;

    background-color: #b088f970;
}

.hamburger-menu a {
    color: black;
    text-decoration: none;
    list-style: none;
    display: flex;
}

.hamburger-menu li {
    margin-left: 10px;
}

.menu-icon {
    height: 30px;
    width: 30px;
}

.playlist {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: black;
}

.active > p,
.active > p:hover {
    color: #fffbad;
    text-decoration: underline;
    cursor: default;
    /* font-weight: bold; */
    /* text-decoration: underline; */
}

.burger-active > li {
    color: white;
    font-weight: bold;

    /* font-weight: bold; */
    /* text-decoration: underline; */
}

.spinner {
    -webkit-animation: rotate-center 0.6s ease-in-out infinite both;
    animation: rotate-center 0.6s ease-in-out infinite both;
}

.spinner {
    height: 80px;
    width: 80px;
}

.spinner-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.delete {
    height: 25px;
    /* margin-top: -29px;
    margin-bottom: 15px; */
    cursor: pointer;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.previous-messages {
    height: 500px;
    width: 60%;
    /* border: 1px solid black; */
    border-radius: 10px;
    overflow-y: scroll;
    /* background-color: #9870fc42; */
}

.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px);
}

.chat h2 {
    margin: 30px;
}

.chat textarea {
    margin-top: 30px;
    width: 40%;

    border-radius: 8px;
}

.chat-pic {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: 5px;
}

textarea::placeholder {
    color: #b088f9;
}

.user-chat-box {
    display: flex;
    align-items: center;
}

.chat-msg-box-purple {
    padding: 5px;
    background-color: #f9f7cf;
    margin: 10px;
    border-radius: 10px;
}

.chat-msg-box-pink {
    padding: 5px;
    background-color: #e6e6e6;
    margin: 10px;
    border-radius: 10px;
}

.other-friends-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: center;
    /* gap: 10px; */
    border-radius: 10px;
    width: 80%;
}

.friends-others {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #b088f973;
    justify-content: space-evenly;
}

.other-friends-box a {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.us-pic img,
.other-friend img {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
    padding: 7px;
}

.no-friend {
    grid-row: 1 / 2;
}

.us-pic {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.us-box {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fffa9b94;
}

.us-box p {
    margin-bottom: 10px;
    font-size: 12px;
}

.other-friends-box p {
    font-size: 12px;
}

.title-friends {
    text-align: center;
    margin: 10px;
}
.delete-container,
.delete-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@media screen and (min-width: 300px) and (max-width: 900px) {
    .super-container {
        flex-direction: column;
    }
    .friends {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100px;
    }

    .friends-req-box {
        height: 100%;
    }

    .welcome-box {
        height: 35vh;
    }

    .right-box {
        height: 65vh;
    }

    .user-search a {
        min-width: 300px;
    }

    .user-search input {
        min-width: 200px;
    }

    .previous-messages {
        width: 90%;
    }
    .chat h2 {
        margin: 10px;
    }

    .chat {
        width: 100%;
    }

    .chat textarea {
        margin: 0 auto;
        width: 80%;
    }

    .btn-purple {
        min-width: 60%;
    }

    .btn-delete {
        min-width: 80%;
    }

    .button-box {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        width: 100%;
        align-items: center;
    }
}

/* .border-green {
    border: 5px green solid;
}
.border-orange {
    border: 5px orange solid;
}
.border-acqua {
    border: 5px aquamarine solid;
}
.border-purple {
    border: 5px purple solid;
}
.border-pink {
    border: 5px pink solid;
}
.border-flamingo {
    border: 5px rgb(194, 92, 92) solid;
}
.border-blue {
    border: 5px blue solid;
} */
