* {
    box-sizing: border-box;
    margin: 0;
}
.logo {
    width: 100px;
}

main {
    font-family: "PT Sans", sans-serif;
}

header {
    grid-row: 1/2;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9870fc;
}

.super-container {
    height: 100vh;
    display: flex;

    justify-content: center;
    align-items: center;
}

.welcome-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.right-box {
    display: flex;
    flex-direction: column;
    background-color: #9870fc;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.brand-title {
    margin: 15px 0;
}

.reg-field {
    min-width: 300px;
    width: 20%;
    color: white;
    font-size: 1em;
    padding: 7px 11px;
    margin: 5px 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid white;
}

.reg-field:focus {
    outline: none;
}

.reg-field:-webkit-autofill,
.reg-field:-webkit-autofill:hover,
.reg-field:-webkit-autofill:focus,
.reg-field:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #9870fc inset;
}

.reg-field:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}

::-webkit-input-placeholder {
    color: #fdcfdf;
}
.btn {
    margin: 10px 0;
    color: #9870fc;
    height: 30px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid #9870fc;
    background-color: white;
    cursor: pointer;
    min-width: 100px;
}

.uploader {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9870fc54;
    width: 100%;
}

.reset-title,
.reg-title,
.signup-title,
.login-title {
    color: white;
}

.btn:focus {
    outline: none;
}

.reg-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.reg-text {
    width: 60%;
    text-align: justify;
}

.link-log {
    text-decoration: none;
    color: white;
    margin: 5px 0;
}
.profile-pic {
    object-fit: cover;
    border-radius: 50%;
    height: 235px;
    width: 235px;
    padding: 10px;
    margin: 10px;
}

.profile-pic.small {
    height: 80px;
    width: 80px;
    cursor: pointer;
    padding: 5px;
}

.logo-title {
    display: flex;
    align-items: center;
}
.logo-header {
    width: 90px;
    padding: 10px;
    margin: 0 5px;
}

.profile-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-purple {
    margin: 10px 0;
    color: white;
    height: 30px;
    font-size: 15px;
    border-radius: 15px;
    border: 1px solid #9870fc;
    background-color: #9870fc;
    cursor: pointer;
    min-width: 100px;
}

.btn-purple:hover {
    background-color: transparent;
    border: 1px solid #9870fc;
    color: #9870fc;
}
.btn:hover {
    background-color: #9870fc;
    border: 1px solid white;
    color: white;
}
.btn-purple:focus {
    outline: none;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 400px;
    height: 125px;
    border-radius: 5px;
    font-family: "PT Sans", sans-serif;
    /* color: #b088f9; */
}

textarea:focus {
    outline: none;
}

.brand-header {
    color: white;
}

.error-msg {
    color: #ffdcdc;
    margin: 5px 0;
    text-align: center;
}

.error-msg-dark {
    color: #b088f9;
    margin: 5px 0;
    text-align: center;
}

.bio-text {
    margin: 10px 0;
    min-width: 300px;
    width: 50%;
    text-align: center;
}

.no-user-found-box {
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.log-pic-box {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.log-pic-box img {
    margin-right: 10px;
    height: 40px;
    width: 40px;
}

.log-pic-box a {
    margin: auto 10px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.logout {
    height: 30px;
}

.profile-pic-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.camera-icon {
    width: 30px;
    margin-top: -29px;
    margin-bottom: 10px;
    cursor: pointer;
}

.user-search {
    margin: 20px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.user-search a {
    align-self: flex-start;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.user-search img {
    margin: 10px 10px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.user-search p {
    margin: 0 20px;
    color: #b088f9;
}

.user-search input::placeholder {
    color: black;
}

.user-search input {
    min-width: 300px;
    width: 20%;
    color: black;
    font-size: 1em;
    padding: 7px 11px;
    margin: 5px 20px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #b088f9;
}

.user-search input {
    outline: none;
}

.user-search iframe {
    margin: 20px;
}

.search-field-box {
    display: flex;
    align-self: center;
}

.search-field-box img {
    height: 40px;
    width: 40px;
}

.friends {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.wannabes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.wannabes img,
.real-friends img {
    margin: 10px 10px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    object-fit: cover;
}

.friends-req-box {
    display: flex;
    align-items: center;
    flex-direction: column;
}
/* .icon {
    height: 60px;
    width: 60px;
    margin: 0 0;
} */

/* .border-green {
    border: 5px green solid;
}
.border-orange {
    border: 5px orange solid;
}
.border-acqua {
    border: 5px aquamarine solid;
}
.border-purple {
    border: 5px purple solid;
}
.border-pink {
    border: 5px pink solid;
}
.border-flamingo {
    border: 5px rgb(194, 92, 92) solid;
}
.border-blue {
    border: 5px blue solid;
} */
